@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    font-family: 'montserrat', sans-serif;
    /* background-color: #505562; */
    color: #edf5e1;
    /* background: '.xfiles/back.jpg'; */
    background: url('xfiles/back2.jpg');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-size: cover;
}

.container{
    width: 500px;
    margin: 20px auto;
    user-select: none;
    overflow-x: hidden;
    position:relative;
}

.header{
    background-color: #05386b;
    text-align: center;
    padding: 1.75rem;
}

.header h1 {
    font-size: 2.25rem;
}

.date {
    background-color: #5cdb95;
    color: #edf5e1;
    padding: 1rem;
    font-size:1.2rem;
    font-weight:bold;
    border:none;
    /* border-top:3px solid #379683; */
    outline:none;
    width:100%;
    cursor:pointer;
    transition: background-color 0.25s;
    position: relative;
}

.date:hover{
    background-color: #d9534f;
}

.date i{
    position: absolute;
    top:.6rem;
    right:30%;
    font-size:2rem;
    opacity:0;
    transition: all 0.25s;
}

.date:hover i{
    opacity: 1;
    right:1.25rem;
}

ul.currencies{
    height: calc(100vh - 40px - 100px - 40px - 58px);
    background-color: #379683;
    padding: 0 1.5rem 1rem 1.5rem;
    overflow-y: auto;
}

ul.currencies li{
    background-color: #05386b;
    border-radius:5px;
    list-style: none;
    padding: 1rem 1rem 0.75rem 1rem;
    margin-bottom: 1rem;
    position: relative;
}
ul.currencies li:last-child{
    margin-bottom:0;
}

ul.currencies li.base-currency{
    background-color: #264d73;
}

.flag{
    width: 60px;
    height: 40px;
    border: 1px solid blue;
    vertical-align:top;
}

.info{
    display: inline-block;
    width: 78%
}

.info .input span{
    font-size: 1.5rem;
    display: inline-block;
    width: 4rem;
    text-align:center;
}

.info .input .balance{
    font-size: 1rem;
    width:55%;
    background-color:transparent;
    border: 2px solid #edf5e1;
    border-radius:5px;
    color:#edf5e1;
    padding:0.3rem;
    margin-bottom: 0.50rem;
    text-align:right;
}

/* .info .input input{
    font-size: 1.5rem;
    width:55%;
    background-color:transparent;
    border: 2px solid #edf5e1;
    border-radius:5px;
    color:#edf5e1;
    padding:0.3rem;
    margin-bottom: 0.75rem;
} */

ul.currencies li .buy{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: #edf5e1;
    cursor: pointer;
}

ul.currencies li .buy:hover{
    color: green;
}

ul.currencies li .sell{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: #edf5e1;
    cursor: pointer;
}

ul.currencies li .sell:hover{
    color: red;
}

/* /scrollbar/ */
ul.currencies::-webkit-scrollbar{
    width: 5px;
}

ul.currencies::-webkit-thumb{
    blackground-color: #05386b;
    border-bottom: 1rem solid#379683;
}

ul.add-currency-list{
    position:absolute;
    bottom: 54px;
    left: 105%;
    background-color: #edf5e1;
    color: #191970;
    width: 100%;
    height: calc(100vh - 26px - 100px - 55px);
    overflow-y: auto;
    transition: all 0.25s;
}

ul.add-currency-list li{
    list-style: none;
    padding: 0.75rem;
    border-bottom: 1px solid #edf5e1;
}

ul.add-currency-list .disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

ul.add-currency-list .flag{
    width: 3rem;
    height: 2rem;
    vertical-align: middle;
}

ul.add-currency-list li span{
    margin-left: 1rem;
    font-weight: bold;
}

ul.add-currency-list li span i{
    position: absolute;
    right:0;
}

.add-currency-btn{
    background-color: #5cdb95;
    color: #edf5e1;
    padding: 1rem;
    font-size:1.2rem;
    font-weight:bold;
    border:none;
    border-top:3px solid #379683;
    outline:none;
    width:100%;
    cursor:pointer;
    transition: background-color 0.25s;
    position: relative;
}

.add-currency-btn i{
    position: absolute;
    top:.6rem;
    left:30%;
    font-size:2rem;
    opacity:0;
    transition: all 0.25s;
}

.add-currency-btn:hover{
    background-color: #d9534f;
}

.add-currency-btn:hover i{
    opacity: 1;
    left:1.25rem;
}

.add-currency-btn:hover + ul.add-currency-list{
    left: 0;
}

.add-currency-btn:hover + ul.add-currency-list li:hover{
    background-color: #edf5e1;
}

.add-currency-btn.open{
    background-color: #d9534f;
}

.add-currency-btn.open i{
    opacity: 1;
    left:1.25rem;
}

.add-currency-btn.open + ul.add-currency-list{
    left: 0;
}

.add-currency-btn.open + ul.add-currency-list li:hover{
    background-color: #edf5e1;
}

.forms {
    position: absolute;
    bottom:0;
    left:0;
    background: url('xfiles/signup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #edf5e1; */
    color: black;
    width: 100%;
    height: calc(100vh - 22px - 100px - 58px + 54px);
    left:0%;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}

.forms input{
    padding:0.100rem;
    /* border-bottom:1px solid  #edf5e1; */
    position: absolute;
    left: 40%;
    width: 50%;
}

.forms label{
    padding:0.100rem;
    /* border-bottom:1px solid  #edf5e1; */
    position: absolute;
    left: 5%;
    width: 50%;
    font-weight: bold;
}

.forms p{
    padding:0.100rem;
    /* border-bottom:1px solid  #edf5e1; */
    position: absolute;
    left: 5%;
    width: 50%;
    font-weight: bold;
}

.date:hover + .forms{
    left:0%;
}